:root {
    --primary-color: #362F74;
    --notification: #3BC76A;
  }
  /*General styling*/
  body {
    font-family: 'Source Sans Pro', sans-serif;
  }
  a {
    color: #ffffff;
  }
  a:hover {
    color: var(--primary-color);
    text-decoration: none;
  }
  /*Buttons*/
  .btn-primary {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
  }
  .btn-notification {
    background: var(--notification);
    border: 1px solid var(--notification);
    border-radius: 5px;
    color: #ffffff;
  }
  .btn-notification:hover {
    color: #ffffff;
  }
  .btn-notification--2 {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #ffffff;
    color: #000000;
  }
  .btn-notification--3 {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #5F5F5F;
    color: #ffffff;
  }
  .btn-notification--2:hover {
    color: #000000;
  }
  /*Layout*/
  .main-panel {
    height: 100%; 
    top: 0;
  }
  /*Notification card*/
  .notification, .password {
    background: #ffffff;
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  .notification h5, .password h5 {
    font-weight: 600;
  }
  /*Background for mobile view*/
  .mobile-upload {
    background: var(--primary-color);
    border-radius: 0px 0px 10px 10px;
  }
  /* verification badge for mobile profile */
  .image-wrapper {
    position: relative;
  }
  .big-img {
    
  }
  small.img {
    position: absolute;
    right: 10%;

  }
  /*settings heading arrow button*/
  .arrow {
    top: 0px;
    left: 15px;
  }
  /*Toggle button*/
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: var(--notification);
  }
  input:focus + .slider {
    box-shadow: 0 0 1px var(--notification);
  }
  /*Slider for the second variation*/
  input:checked + .slider--2 {
    background-color: #5F5F5F;
  }
  input:focus + .slider--2 {
    box-shadow: 0 0 1px #5F5F5F;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }